.button {
    text-transform: uppercase;
    padding: 1rem;
    color: #666;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: block;
}

.button:hover, .button:focus {
    background: #eee;
}

.button--blue {
    background: rgb(73, 76, 250);
    color: #fff;
    width: 100%;

}

.button--blue:hover, .button--blue:focus {
    background: rgb(42, 42, 218);
}